# Aplication
APP_NAME="go-semantic-engine-v2"
VERSION=2.0
ACCOUNT=local:localhost
ENV="dev"
TYPE="webserver"

# Http
HTTP_TIMEOUT="120s"
HTTP_KEEP_ALIVE="120s"
HTTP_READTIMEOUT="120s"
HTTP_WRITETIMEOUT="120s"
HTTP_IDLECONNTIMEOUT="120s"
HTTP_MAXIDLECONNS="2"
HTTP_MAXIDLECONNSPERHOST="2"
HTTP_MAXCONNSPERHOST="2"
HTTP_PORT="7100"
READ_BUFFER_SIZE="12288"
DISABLE_STARTUP_MESSAGE="true"

# RSA Keys
RSA_PRIVATE_KEY_PATH="./keys/rsa_private_key.pem"
RSA_PUBLIC_KEY_PATH="./keys/rsa_public_key.pem"
TOKEN_TTL="3600s"

# Database
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_USERNAME="postgres"
DB_PASSWORD="postgres"
DB_NAME="postgres"
DB_SCHEMA="public"
DATABASE_QUERY_TRACER="false"
DB_MAX_CONNS="10"
DB_MIN_CONNS="5"

# Log
LOG_LEVEL="debug"
LOG_MODE="json"

# Otel
OTEL_EXPORTER_OTLP_ENDPOINT="127.0.0.1:4317"
OTEL_STDOUT_TRACER="false"
OTEL_COLLECTOR="false"
OTEL_METRICS_PORT="8000"