# Aplication
APP_NAME="go-semantic-engine-v2"
VERSION=2.0
ACCOUNT=local:localhost
ENV="dev"
TYPE="webserver"

# Http
HTTP_TIMEOUT="120s"
HTTP_KEEP_ALIVE="120s"
HTTP_READTIMEOUT="120s"
HTTP_WRITETIMEOUT="120s"
HTTP_IDLECONNTIMEOUT="120s"
HTTP_MAXIDLECONNS="2"
HTTP_MAXIDLECONNSPERHOST="2"
HTTP_MAXCONNSPERHOST="2"
HTTP_PORT="7004"
READ_BUFFER_SIZE="12288"
DISABLE_STARTUP_MESSAGE="true"

# Vector
VECTOR_ENDPOINT="http://127.0.0.1:6500"
VECTOR_URL_PATH="/embed"
VECTOR_ENDPOINT_TIMEOUT="10s"

# Database
DB_HOST="127.0.0.1"
DB_PORT="5434"
DB_USERNAME="postgres"
DB_PASSWORD="postgres"
DB_NAME="postgres"
DB_SCHEMA="public"
DATABASE_QUERY_TRACER="false"
DB_MAX_CONNS="5" # ATTENTION: As soon as workload has the reader and writer pools the total number is 2x DB_MAX_CONNS
DB_MIN_CONNS="5" # Set the same as DB_MAX_CONNS avoid connection churn (reopen/close cycles)
DB_CONNECTION_TIMEOUT_DURATION="4s" # Set to a low value for quick failover
DB_LIFE_TIME_CONNS="28s" #Set to a low value for infrastructure services (apigw 29s)
DB_IDLE_TIME_CONNS="1s" # As soon as the size of max and min is equal, this is irrelevant

# Log
LOG_LEVEL="debug"
LOG_MODE="json"

# Authorization
AUTHORIZATION_DRY_RUN="true"
AUTHORIZATION_TIMEOUT="15s"
AUTHORIZATION_JWKS_URL=http://localhost:7100/v1/.well-known/jwks.json
AUTHORIZATION_HEADER_KEY="Authorization"
AUTHORIZATION_REQUIRED_HEADER="true"
ALLOWEDSCOPES=workload01:db-01,workload01:db-02

# Otel
OTEL_EXPORTER_OTLP_ENDPOINT="127.0.0.1:4317"
OTEL_STDOUT_TRACER="false"
OTEL_COLLECTOR="false"
OTEL_METRICS_PORT="8000"